In [3]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split

In [4]:
def processData(path):
    def calculateAge(month: str, lease_commence_date: float) -> int:
        # calculate years of lease remaining, using 99 years as default, round up to the nearest year
        sold_year = month.strftime('%Y')
        return max(int(int(sold_year) - lease_commence_date ),0)

    def classifyStorey(storey_range):
        # floor = average of start and end storey
        start = int(storey_range[:2])
        end = int(storey_range[-2:])
        return (start + end)//2

    def classifyModel(model):
        if 'Maisonette' in model or 'Generation' in model:
            return 'Maisonette'
        elif 'Type' in model:
            return 'Type'
        elif 'Model' in model:
            return 'Model'
        else: return model

    df = pd.read_csv(path)
    df['month'] = pd.to_datetime(df['month'])
    df['age'] = df.apply(
        lambda x: calculateAge(x['month'], x['lease_commence_date']), axis=1)
    df['general_model'] = df['flat_model'].apply(classifyModel)
    df['storey'] = df['storey_range'].apply(classifyStorey)

    df['sold_year'] = df['month'].dt.strftime('%Y')
    df=df.dropna(axis=1)
    return df.copy()

In [5]:
train_df = processData('./train.csv')
train_df.head()

,town,month,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,age,general_model,storey,sold_year
0,GEYLANG,2006-01-01,4 ROOM,328,UBI AVE 1,04 TO 06,84.0,Simplified,1985.0,175000.0,21,Simplified,5,2006
1,JURONG EAST,2003-02-01,5 ROOM,271,TOH GUAN RD,10 TO 12,120.0,Improved,1999.0,353000.0,4,Improved,11,2003
2,TOA PAYOH,2005-09-01,3 ROOM,205,TOA PAYOH NTH,10 TO 12,65.0,Improved,1973.0,215000.0,32,Improved,11,2005
3,PASIR RIS,2001-03-01,EXECUTIVE,508,PASIR RIS ST 52,04 TO 06,146.0,Apartment,1993.0,482000.0,8,Apartment,5,2001
4,JURONG WEST,2014-07-01,EXECUTIVE,656B,JURONG WEST ST 61,10 TO 12,133.0,Apartment,2001.0,613000.0,13,Apartment,11,2014

In [6]:
train_df.groupby('flat_model').mean().sort_values('resale_price')

,floor_area_sqm,lease_commence_date,resale_price,age,storey
flat_model,,,,,
2-room,52.217391,2001.130435,2.208696e+05,10.739130,3.173913
Simplified,79.045040,1986.915731,2.578829e+05,21.448952,6.065735
New Generation,77.714583,1981.350965,2.581721e+05,27.074838,6.629465
Standard,75.789245,1972.533620,2.874509e+05,35.930370,7.864882
Model A2,89.886304,1999.162198,2.884823e+05,9.814800,7.650368
Model A,97.451085,1994.385445,3.400544e+05,15.264277,7.860276
Improved,100.119078,1988.290615,3.582220e+05,21.072650,8.527715
Premium Apartment,106.603112,2003.800431,4.275922e+05,8.930915,9.291932
Adjoined flat,140.231931,1977.622438,4.843490e+05,31.411003,7.742179
Apartment,145.752589,1994.951913,5.080161e+05,14.419784,7.737952
Improved-Maisonette,135.859375,1983.000000,5.101165e+05,27.078125,2.000000
Model A-Maisonette,141.184655,1983.906372,5.309049e+05,26.193758,6.548765
Maisonette,148.045480,1989.342356,5.371999e+05,20.544103,6.206389
Multi Generation,160.920792,1987.074257,5.921061e+05,22.277228,6.841584
Premium Maisonette,162.388889,1997.416667,5.934471e+05,9.236111,10.625000
Terrace,115.811429,1971.062857,6.117697e+05,38.180000,2.005714
DBSS,97.494169,2012.020894,7.460737e+05,7.059281,15.074344
Premium Apartment Loft,108.136364,2015.348485,9.092613e+05,4.787879,22.000000
Type S1,94.375000,2011.000000,9.229031e+05,6.861111,26.687500
Type S2,106.096552,2011.000000,1.039949e+06,7.055172,25.006897

In [7]:
features = ['town', 'general_model', 'flat_type',
            'storey', 'sold_year', 'age']

In [5]:
# independent variables
X = train_df[features]

# dependent variables
Y = train_df['resale_price']/train_df['floor_area_sqm']

In [6]:
# convert to dummy variable for category variable
X = pd.get_dummies(data=X,drop_first=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, Y, test_size=0.33, random_state=42)

In [7]:
# fit with linear regression
est= sm.OLS(Y, sm.add_constant(X)).fit()
print(est.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.857
Model:                            OLS   Adj. R-squared:                  0.857
Method:                 Least Squares   F-statistic:                 4.142e+04
Date:                Tue, 22 Feb 2022   Prob (F-statistic):               0.00
Time:                        10:11:09   Log-Likelihood:            -3.5312e+06
No. Observations:              462515   AIC:                         7.063e+06
Df Residuals:                  462447   BIC:                         7.063e+06
Df Model:                          67
Covariance Type:            nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
const                                 3410.9072    108.089     31.557      0.000    3199.057    3622.758
storey                                  37.2034      0.160    232.945      0.000      36.890      37.516
age                                    -43.3589      0.125   -347.375      0.000     -43.604     -43.114
town_BEDOK                            -109.3300      4.468    -24.471      0.000    -118.087    -100.573
town_BISHAN                            388.6818      6.352     61.194      0.000     376.233     401.131
town_BUKIT BATOK                      -559.9932      4.995   -112.112      0.000    -569.783    -550.203
town_BUKIT MERAH                       804.9135      5.377    149.698      0.000     794.375     815.452
town_BUKIT PANJANG                   -1014.3816      5.547   -182.860      0.000   -1025.254   -1003.509
town_BUKIT TIMAH                       956.3847     15.071     63.461      0.000     926.847     985.923
town_CENTRAL AREA                      999.9813     10.094     99.071      0.000     980.198    1019.764
town_CHOA CHU KANG                   -1056.2913      5.176   -204.081      0.000   -1066.436   -1046.147
town_CLEMENTI                          259.5751      5.578     46.537      0.000     248.643     270.507
town_GEYLANG                           217.2552      5.818     37.343      0.000     205.853     228.658
town_HOUGANG                          -551.5228      4.795   -115.026      0.000    -560.920    -542.125
town_JURONG EAST                      -494.8281      5.760    -85.907      0.000    -506.118    -483.539
town_JURONG WEST                      -871.8558      4.615   -188.906      0.000    -880.902    -862.810
town_KALLANG/WHAMPOA                   363.2994      5.755     63.127      0.000     352.020     374.579
town_MARINE PARADE                    1252.6951      9.440    132.695      0.000    1234.192    1271.198
town_PASIR RIS                        -674.6186      5.530   -122.000      0.000    -685.457    -663.781
town_PUNGGOL                          -909.2708      6.345   -143.313      0.000    -921.706    -896.836
town_QUEENSTOWN                        880.7074      5.889    149.561      0.000     869.166     892.249
town_SEMBAWANG                       -1239.2059      6.632   -186.842      0.000   -1252.205   -1226.207
town_SENGKANG                         -988.0902      5.399   -183.011      0.000    -998.672    -977.508
town_SERANGOON                        -178.6836      6.051    -29.530      0.000    -190.543    -166.824
town_TAMPINES                         -307.8884      4.584    -67.173      0.000    -316.872    -298.905
town_TOA PAYOH                         396.8173      5.595     70.918      0.000     385.850     407.784
town_WOODLANDS                       -1075.9131      4.555   -236.184      0.000   -1084.842   -1066.985
town_YISHUN                           -740.3900      4.621   -160.237      0.000    -749.446    -731.334
general_model_Adjoined flat           -369.8830    106.071     -3.487      0.000    -577.779    -161.987
general_model_Apartment               -328.6066    104.861     -3.134      0.002    -534.130    -123.083
general_model_DBSS                    1300.7514    105.318     12.351      0.000    1094.331    1507.172
general_model_Improved                -310.7444    104.732     -2.967      0.003    -516.015    -105.473
general_model_Maisonette              -270.6713    104.750     -2.584      0.010    -475.979     -65.364
general_model_Model                   -393.0611    104.719     -3.753      0.000    -598.308    -187.815
general_model_Premium Apartment       -347.1528    104.759     -3.314      0.001    -552.478    -141.828
general_model_Premium Apartment Loft  1125.1835    121.605      9.253      0.000     886.842    1363.525
general_model_Simplified              -288.5636    104.777     -2.754      0.006    -493.922     -83.205
general_model_Standard                -239.7644    104.776     -2.288      0.022    -445.123     -34.406
general_model_Terrace                 1887.2952    108.173     17.447      0.000    1675.279    2099.311
general_model_Type                    1972.8803    107.924     18.280      0.000    1761.353    2184.408
flat_type_2 ROOM                       297.9553     27.340     10.898      0.000     244.370     351.540
flat_type_3 ROOM                       256.6037     26.370      9.731      0.000     204.920     308.287
flat_type_4 ROOM                       157.7516     26.427      5.969      0.000     105.956     209.547
flat_type_5 ROOM                        73.3637     26.435      2.775      0.006      21.551     125.176
flat_type_EXECUTIVE                    227.4044     26.774      8.494      0.000     174.928     279.880
flat_type_MULTI-GENERATION             435.7106     44.120      9.876      0.000     349.237     522.184
sold_year_2001                        -158.8725      4.155    -38.240      0.000    -167.016    -150.729
sold_year_2002                        -185.6950      4.210    -44.103      0.000    -193.947    -177.443
sold_year_2003                         -63.7037      4.461    -14.280      0.000     -72.447     -54.960
sold_year_2004                          71.5777      4.475     15.997      0.000      62.808      80.348
sold_year_2005                          49.7128      4.449     11.174      0.000      40.993      58.433
sold_year_2006                          66.3144      4.568     14.518      0.000      57.362      75.267
sold_year_2007                         324.7725      4.614     70.386      0.000     315.729     333.816
sold_year_2008                         931.3289      4.614    201.834      0.000     922.285     940.373
sold_year_2009                        1214.8942      4.507    269.528      0.000    1206.060    1223.729
sold_year_2010                        1735.3851      4.398    394.555      0.000    1726.765    1744.006
sold_year_2011                        2285.0260      4.957    460.933      0.000    2275.310    2294.742
sold_year_2012                        2686.7403      4.936    544.308      0.000    2677.066    2696.415
sold_year_2013                        2913.0187      5.538    525.968      0.000    2902.164    2923.874
sold_year_2014                        2641.5748      5.571    474.131      0.000    2630.655    2652.495
sold_year_2015                        2453.6829      5.450    450.217      0.000    2443.001    2464.365
sold_year_2016                        2467.9573      5.336    462.476      0.000    2457.498    2478.416
sold_year_2017                        2452.1723      5.270    465.285      0.000    2441.843    2462.502
sold_year_2018                        2407.9190      5.231    460.275      0.000    2397.665    2418.173
sold_year_2019                        2402.4905      5.171    464.575      0.000    2392.355    2412.626
sold_year_2020                        2539.7180      5.105    497.509      0.000    2529.713    2549.723
sold_year_2021                        3074.5067      4.882    629.803      0.000    3064.939    3084.075
sold_year_2022                        3391.6118     11.927    284.363      0.000    3368.235    3414.988
==============================================================================
Omnibus:                    47084.126   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           121904.896
Skew:                           0.589   Prob(JB):                         0.00
Kurtosis:                       5.222   Cond. No.                     1.21e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.21e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Since the F-statistic value is very large and Prob (F-statistic) is less than 0.05, we have sufficient evidence that there is a good amount of linear relationship between the target variable and the feature variables

In [8]:
test_df = processData('./test.csv')
test_df.head()

,town,month,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,age,general_model,storey,sold_year
0,YISHUN,2003-02-01,5 ROOM,167,YISHUN RING RD,04 TO 06,121.0,Improved,1987,16,Improved,5,2003
1,PUNGGOL,2019-04-01,4 ROOM,271A,PUNGGOL WALK,10 TO 12,93.0,Premium Apartment,2014,5,Premium Apartment,11,2019
2,ANG MO KIO,2013-11-01,3 ROOM,644,ANG MO KIO AVE 4,04 TO 06,75.0,New Generation,1980,33,Maisonette,5,2013
3,SERANGOON,2014-11-01,5 ROOM,258,SERANGOON CTRL DR,10 TO 12,115.0,Improved,1999,15,Improved,11,2014
4,YISHUN,2005-10-01,3 ROOM,216,YISHUN ST 21,07 TO 09,68.0,New Generation,1985,20,Maisonette,8,2005

In [9]:
X_test = test_df[features]

X_test=pd.get_dummies(X_test,drop_first=True)

In [10]:
y_pred = est.predict(sm.add_constant(X_test))

In [11]:
submission = test_df['floor_area_sqm']*y_pred

In [12]:
submission = pd.DataFrame(
    submission, columns=['Resale_price'])

submission['Index'] = np.arange(1, len(submission)+1)

submission = submission[['Index', 'Resale_price']]

In [13]:
submission.to_csv('submission.csv', index=False)

In [14]:
submission

         Index   Resale_price
0            1  225266.551785
1            2  456366.714204
2            3  379877.305794
3            4  620456.224515
4            5  145289.567812
...        ...            ...
115624  115625  182074.903597
115625  115626  183922.929992
115626  115627  426028.643429
115627  115628  171881.540851
115628  115629  188321.222644

[115629 rows x 2 columns]